@model TraversalCoreProject.ViewModels.AddCommentPartialVM
<div class="leave-comment-form mt-5" id="reply">
    <h4 class="side-title mb-2">Yorum Yap</h4>
    <p class="mb-4">
        Merak etme. Emailin bizimle gizli kalıcak.
    </p>
    <form method="post" asp-action="AddComment" asp-controller="Comment">
        <input type="hidden" name="DestinationID" value="@Model.DestinationID" />
        <div class="form-group">
            <textarea name="CommentContent" class="form-control" placeholder="Yorum yap*" required=""
                      spellcheck="false"></textarea>
        </div>
        <div class="input-grids row">

            <div class="form-group col-lg-6">
                <input type="text" name="CommentUser" class="form-control" placeholder="İsmin*"
                       required="">
            </div>

        </div>

        <div class="submit text-right">
            <button class="btn btn-style btn-primary">Paylaş </button>
        </div>
    </form>
</div>