@model About2
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<form method="post">


    <div>
        <input type="text" asp-for="Title1"  />
    </div>
    <div>
        <button>gönder</button>
    </div>
</form>